.codeSnippet {
    padding: 1rem 2rem 2rem 2rem;
    background-color: #3a3f4c;
    border-radius: 15px;
    padding-top: 2.3rem;
    color: rgb(206, 220, 229);
    position: absolute;
    z-index: 100;
    max-width: 100vw;
    opacity: 1;
    transition: all 1.2s linear;

    &.inView {
        opacity: 1;
    }

    &.top {
        opacity: 0;
        top: -200px;
    }

    &.bottom {
        opacity: 0;
        top: 1000px;
    }

    pre {
        overflow-x: scroll;
    }

    .cover {
        position: absolute;
        left: 0;
        top: 2.5rem;
        background: #00000052;
        width: 100%;
        height: calc(100% - 2.5rem);
        border-radius: 0px 0px 15px 15px;
    }

    .testing {
        display: block;
        z-index: 9999;
        position: absolute;
        border: 2px solid #ab0000;
        border-radius: 1rem;
        font-size: 2.2rem;
        font-family: Monstserrat;
        background: #ffffffd4;
        padding: 1rem 2rem;
        text-align: center;
        line-height: 2rem;
        color: #ab0000;
        top: 45%;
        margin-top: -70px;
        width: 40%;
        left: 30%;

        .break {
            width: 110%;
            margin-left: -5%;
            height: 1px;
            background-color: #ab0000;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        p {
            margin: 0;

            &.testingDetails {
                color: #000;
                font-size: 1.2rem;
                line-height: 1.4rem;
            }
        }
    }

    @media screen and (min-width: 576px) {
        width: 80vw;
        left: 50%;
        margin-left: -40vw;
    }
    
    @media screen and (min-width: 768px) {
        width: 80vw;
        left: 50%;
        margin-left: -40vw;
    }

    @media screen and (min-width: 992px) {
        left: 50%;
        margin-left: -35vw;
        width: 70vw;
    }

    @media screen and (min-width: 1200px) {
        left: 50%;
        margin-left: -36vw;
        width: 72vw;
    }

    .taskBar {
        display: flex;
        flex-direction: row;
        margin-top: -20px;
        margin-bottom: 15px;
        margin-left: -15px;

        .roundBtn {
            width: 15px;
            height: 15px;
            border-radius: 15px;
            margin-right: 10px;
    
            &.red {
                background-color: rgb(189, 0, 0);
                &:hover {
                    box-shadow: 0 0 10px rgb(238 81 81);
                }
            }
            &.yellow {background-color: rgb(255, 240, 175);}
            &.green {background-color: rgb(183, 255, 183);}
        }
    }

    .variable, .name { color: rgb(206, 220, 229); }
    .datatype { color: #adff2f; }
    .statements, .function, .declaration { color: rgb(0, 128, 255); }
    .class, .interface { color: rgb(255, 204, 0); }
    .comments { color: #006400; }
    .string {color: #07dc00;}
    .newcommandline {color: #71747b; }

    .line {
        padding: 0.2rem 0rem;
        &::before {
            content: "[user@hydrae]$ ";
            color: #71747b;
            display: inline-block;
            margin: 0 10px 0 5px;
            text-align: right;
        }
    }

    .continue {
        padding: 0.1rem 0rem;
        &::before {
            content: "> ";
            color: #71747b;
            display: inline-block;
            margin: 0 10px 0 5px;
            text-align: right;
        }
    }
}