#contact {
    background: #3A1078;
    height: 100vh;
    padding-top: 3.7rem;

    @media screen and (min-width: 768px) {
		padding-top: 1rem;
        padding-right: calc(var(--bs-gutter-x) * 0.5);
        padding-left: calc(var(--bs-gutter-x) * 0.5);
	}

    *, * * {
        color: #fff;
        letter-spacing: 2px;
        font-family: Montserrat;
    }

    #container {
        width: 100%;
        @media screen and (min-width: 576px) {
            width: 80%;
        }
        @media screen and (min-width: 768px) {
            width: 70%;
        }
        @media screen and (min-width: 992px) {
            width: 50%;
        }
    }
}