$face2: #22a5c6;
$face3: #37a6c1;
$face4: #3ca8c4;
$face5: #2ca5c4;
$flapOne: #78c6ed;
$flatTwo: #8ac8ef;
$flapThree: #84cbeb;
$flapFour: #92cff2;
$flapFive: #80bdef;

.open {
    --l: 5.5rem;
}

.ContainerExplaination {
    background: #102E43;
    padding-bottom: 1.5rem;
}

.explainer {
    color: #fff;
    font-family: Montserrat;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    z-index: 45;
    text-align: center;
    left: 50%;
    transform: translate(-50%,0%);
    transition: all 2s cubic-bezier(0, 0, 0, 1) 1.4s;
    -webkit-transition: all 1.3s cubic-bezier(0, 0, 0, 1) 1.4s;
    -moz-transition: all 1.3s cubic-bezier(0, 0, 0, 1) 1.4s;
    -o-transition: all 1.3s cubic-bezier(0, 0, 0, 1) 1.4s;
    top: 400px;
    opacity: 0;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: 576px) {
        width: 80vw;
        top: 480px;
    }

    @media screen and (min-width: 1200px) {
        width: 70vw;
        top: 280px;
    }

    h5 {
        font-family: MontserratLight;
    }
    
    &.onScroll {
        top: 20px;
        opacity: 1;
        @media screen and (min-width: 576px) {
            top: 25px;
        }
        @media screen and (min-width: 1200px) {
            top: 30px;
        }
    }
}

.cubeHolder {
    display: flex;
    flex: 0 0 100%;
    place-items: end;
    justify-content: center;
    perspective: 700px;
    height: 380px;
    
    @media screen and (min-width: 576px) {
        height: 400px;
    }

    @media screen and (min-width: 680px) {
        height: 450px;
    }

    @media screen and (min-width: 800px) {
        height: 500px;
    }

    @media screen and (min-width: 1200px) {
        height: 550px;
    }

    *,*:after,*:before{
        transform-style: preserve-3d;
    }
}

.scene {
    transform: rotateY(0deg) rotateX(90deg) rotateZ(calc(var(--squared, 1) * 30deg));
    
    @media screen and (min-width: 576px) {
        transform: rotateY(0deg) rotateX(80deg) rotateZ(30deg);
    }

    @media screen and (min-width: 1200px) {
        transform: rotateY(0deg) rotateX(70deg) rotateZ(30deg);
    }

    & *, & *:after {
        --no-of-steps: 17;
        //step-delay: step - (1-packaged) * (step - ((noOfSteps + 1) - step))
        --step-delay: calc(var(--step, 1) - ((1 - var(--packaged, 0)) * (var(--step) - ((var(--no-of-steps) + 1) - var(--step)))));
        //transition: transform 0.2s 
        transition: transform calc(var(--speed, 0.4) * 1s) calc((var(--step-delay) * var(--delay, 0.2)) * 1s);
    }
}

.package__wrapper {
     transform: translate(0, calc((var(--packaged, 0) * var(--depth, 20)) * -1vmin));
}

.package {
    height: calc(var(--height, 20) * 1vmin);
    width: calc(var(--width, 20) * 1vmin);
    transform-origin: 50% 100%;
    transform: rotateX(calc(var(--packaged, 0) * -90deg));
}

.package__content {
    width: calc(min(var(--height), var(--width)) * 1vmin);
    height: calc(var(--height) * 1vmin);
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform-origin: 50% 100%;
    transform: translate(-50%, 0) rotateX(-90deg) rotateY(45deg);

    .package__icon__linux {
        top: -13vmin;
        width: 13vmin;
        height: 13vmin;
        left: -7vmin;
    }
    .package__icon__k8s {
        top: -7vmin;
        width: 7vmin;
        height: 7vmin;
        left: -8vmin;
    }

    .package__icon {
        --speed: 1;
        position: absolute;
        transform: rotateY(-20deg) rotateX(20deg) rotateZ(0deg);
        // transform: translate(-50%, -50%) translate3d(calc(var(--x, 0) * 1%), calc((((1 - var(--packaged, 0)) * (var(--y, 0) * (max(var(--height), var(--depth), var(--width)))))) * -1vmin), calc(var(--z, 0) * 1vmin));
        // opacity: var(--packaged);
    }
}

.package__side {
    height: calc(var(--height, 20) * 1vmin);
    position: absolute;
    top: 0;
}

.package__side__main {
    background: $face5;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translate3d(0, 0, 0);
    width: calc(var(--width, 20) * 1vmin);

    > .package__flap {
        height: calc(var(--depth, 20) * 0.495vmin);
    }

    > .package__flap.package__flap__top {
        --flap-bg: var($flapFive);
    }
}

.package__side__extra {
    right: 100%;
    background: $face2;
    width: calc(var(--depth, 20) * 1vmin);
    transform-origin: 100% 50%;

    &.package__flap.package__flap__bottom {
        --flap-bg: var($flapTwo);
    }

    &.package__flap__bottom {top: 98%;}
    &.package__flap__top {bottom: 98%;}

    &.package__flap {
        height: calc(var(--width, 20) * 0.495vmin);
        --flap-bg: var($face3);
    }

    &.package__flap.package__flap__top {
        --flap-bg: var($flapOne);
    }
}

.package__side__tabbed {
    --rotation: -90;
    left: 100%;
    background: $face2;
    width: calc(var(--depth, 20) * 1vmin);
    transform-origin: 0% 50%;

    &:after {
        content: '';
        position: absolute;
        left: 99.5%;
        height: 100%;
        width: 10%;
        background: $face3;
        clip-path: polygon(0 0%, 100% 20%, 100% 80%, 0 100%);
        -webkit-clip-path: polygon(0 0%, 100% 20%, 100% 80%, 0 100%);
        transform-origin: 0% 50%;
    }
    > .package__flap__bottom {
        top: 98%;
    }
    > .package__flap__top { 
        bottom: 98%;
    }
    > .package__flap {
        height: calc(var(--width, 20) * 0.495vmin);
        --flap-bg: var($face3);
        
        &.package__flap__bottom {
            --flap-bg: var($flapThree);
        }
    }
}

.package__side__flipped {
    background: $face3;
    right: 100%;
    width: calc(var(--width, 20) * 1vmin);
    transform-origin: 100% 50%;
    
    > .package__flap {
        height: calc(var(--depth, 20) * 0.495vmin);
        --flap-bg: var($face4);

        &.package__flap__bottom {
            --flap-bg: var($flapFour);
        }
    }
}
  
.package__side:not(.package__side__main),
.package__side:not(.package__side__main):after {
    transform: rotateY(calc((var(--packaged, 0) * var(--rotation, 90)) * 1deg));
}
  
.package__flap {
    width: 99.5%;
    height: 49.5%;
    background: var(--flap-bg, $face4);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0) rotateX(calc((var(--packaged, 0) * var(--rotation, -90)) * 1deg));
}
.package__flap__top {
    transform-origin: 50% 100%;
    bottom: 100%;
}
.package__flap__bottom {
    --rotation: 90;
    top: 100%;
    transform-origin: 50% 0%;
}

/** This is Animation steps */
.package__side__extra { --step: 1; }
.package__side__tabbed {
    --step: 2;
    &:after { --step: 3; }
}
.package__side__flipped {
    --step: 3;
}
.package__side__extra > .package__flap__bottom { --step: 4; }
.package__side__tabbed > .package__flap__bottom { --step: 5; }

.package__side__main > .package__flap__bottom { --step: 6; }

.package__side__flipped > .package__flap__bottom { --step: 7; }

.package__wrapper { --step: 8; }

.package { --step: 9; } /** This is the step where it flips */

.package__icon--linux { --step: 10; }
.package__icon--k8s { --step: 11; }

.package__side__extra > .package__flap__top { --step: 13; }

.package__side__tabbed > .package__flap__top { --step: 14; }

.package__side__main > .package__flap__top { --step: 15; }

.package__side__flipped > .package__flap__top { --step: 16; }