#nativek8s {
    margin-top: 3rem;
    border-radius: 1rem;
    background: rgb(2,0,36);
    background: linear-gradient(320deg, rgba(2,0,36,1) 0%, rgba(16,46,67,1) 40%, rgba(0,70,150,1) 100%);
    color: #fff;
    * {
        font-family: MontserratExtraLight;
    }

    img {
        width: 100%;
    }

    #img_holder {
        background: url('../public/images/office.webp') no-repeat;
        border-radius: 1rem 0rem 0rem 1rem;
        background-size: cover;
        background-position: center;
    }

    .blueBg {
        width: 100%;
        height: 100%;
        position: absolute;
        background: #0073a7;
        opacity: 0.3;
        border-radius: 1rem 0 0 1rem;
        margin-left: calc(var(--bs-gutter-x, 1.5) * -0.5);
    }

    h3 {
        font-family: MontserratLight;
        margin-bottom: 1rem;
    }

    ul {
        list-style: none;
        padding-left: 0rem;
        li {
            margin-top: 2rem;
            h5 {
                font-family: Montserrat;
                line-height: 1.85rem;
            }
        }
    }

    button {
        margin-top: 2rem;
        font-size: 1rem;
        padding: 0.35rem 1.25rem;
        display: inline-flex;
        align-items: center;
        font-family: Montserrat;

        i {
            font-size: 1.5rem;
            padding-left: 0rem;
            padding-right: .5rem;
        }
    }

    .textcontainer {
        padding: 2rem 0.5rem;
    }
}

#supportedOn {
    font-family: Montserrat;
    margin-bottom: 5rem;
    h3 {
        margin-top: 3.5rem;
        text-align: center;
        padding-top: 1rem;
    }
    .content {
        flex-direction: column;
    }
    img {
        max-width: 700px;
        align-self: center;
        width: 100%;
    }
}

#frigga {
    margin-bottom: -3rem;
    margin-top: 3rem;
    background-color: #b7e7ff;
    padding-top: 4rem;
    padding-bottom: 4rem;

    * {
        line-height: 2rem;
    }
    
    h1 { margin-bottom: 1.5rem; font-family: Montserrat; }
    h5 {
        font-family: MontserratLight;
        margin-bottom: 1rem;
    }
    h4 { 
        line-height: 2.2rem;
        font-family: MontserratLight;
    }
    h6 {
        padding-left: 3px;
        font-family: Montserrat;
    }

    .socialLink {
        margin-top: 3rem;
        margin-bottom: 1rem;
    }
    
    a {
        font-size: 2.5rem;
        margin-right: 1.75rem;

        &.devto img {
            width: 40px;
            vertical-align: top;
        }
    }

    .logoHolder {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    img {
        width: 65%;
    }
}

#about {

    *, * * {
        font-family: Montserrat;
    }

    h1 {
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-family: MontserratLight;
        color: rgb(0 41 129);
    }

    h3 {
        font-family: MontserratExtraLight;
        line-height: 140%;
        margin-top: 2rem;
    }
    img { width: 100%; }
    code {
        font-family: 'Courier New', Courier, monospace;
        font-size: 105%;
        color: rgb(128 0 126);
    } 

    #etymology {
        align-self:center;
    }

    caps {
        font-weight: 100;
        text-transform: uppercase;
    }

    .videowrapper {
        width: 75%;
        aspect-ratio: 16 / 9;
        margin: 0 auto;
        
        iframe {
            width: 100%;
            height: 100%;
            margin-top: 1rem;
        }
    }

    .question {
        margin-top: .5rem;
        color: rgb(109 0 0);
    }
    #team {
        h3 {
            font-family: Montserrat;
            margin-top: 1rem;
            color: rgb(0, 31, 98);
            @media screen and (min-width: 768px) {
                margin-top: 0rem;
            }
            @media screen and (min-width: 992px) {
                margin-top: 1rem;
            }
        }
        h4 {
            color: rgb(109, 0, 0);
        }
        h4, h5 { 
            font-family: MontserratLight; 
            margin-bottom: 1rem;
        }

        .profilePhoto {
            width: 70%;
            align-self: center;
            margin-top: .5rem;
        }

        h3, h4, h5 {
            text-align: center;
            @media screen and (min-width: 768px) {
                text-align: left;
            }
            @media screen and (min-width: 992px) {
                text-align: center;
            }
        }
    }
}

#contact {
    background: #f2f9ff;
    margin-bottom: -3rem;
    padding-bottom: 4rem;

    *, * * {
        font-family: Montserrat;
        h1 {font-family: MontserratLight; margin-top: 3rem; margin-bottom: 1rem;}
        h3 {font-family: MontserratExtraLight; margin-bottom: 1rem; line-height: 2.5rem;}
        h5 {font-family: MontserratLight; margin-bottom: 4rem;}

    }

    .centerRow { justify-content: center; }

    form {
        background: #fff;
        padding: 2rem;
        border: 1px solid #a6d0ff;
        border-radius: 0.75rem;
        box-shadow: 0 0 10px #92d1ff;

        .whatsapp_text {
            color: #25D366;
            font-weight: bold;
        }
    }
}

.extraPages {
    font-family: MontserratLight;
    min-height: 100vh;
    .rowCenter {
        height: 100vh;
        align-content: center;
    }
    a {text-decoration: none;}
}