.footer {
    margin-top: 3rem;
    padding-top: 3rem;
    padding-bottom: 6rem;
    color: #fff;
    background: #0f304a;
    font-family: Montserrat;

    .row {margin-top: 2rem; }

    #hydraenium { width: 75%; }

    .extra {
        margin-top: 1.2rem;
    }

    ul {
        list-style: none;
        li {
            padding-bottom: 0.5rem;
        }
        
        a {
            color: #fff;
            text-decoration: none;
            font-family: MontserratLight;
            &:hover {
                color: rgb(191, 230, 255);
            }
        }
    }

    .mini { 
        font-size: .85rem; 
        padding-left: 1px;
        font-family: MontserratLight;
    }
    .head { font-size: 2rem; font-weight: bold;}

    .socialLink {
        margin-bottom: 1rem;

        a {
            font-size: 34px;
            margin-right: 1.75rem;
    
            &.devto img {
                height: 40px;
                vertical-align: middle;
            }
        }
    }

    form {
        margin-top: .75rem;
        margin-bottom: 1rem;
    }

    .emailText {
        display: inline-block;
        width: initial;
        margin-right: 1rem;
    }
}