/**
color pallets
  3A1078
  4E31AA
  2F58CD
  3795BD
*/

@font-face {
  font-family: Guaraldo;
  src: url('fonts/guaraldo.ttf');
}

@font-face {
  font-family: LeagueSpartan;
  src: url('fonts/league-spartan.otf');
}
@font-face {
  font-family: Callista;
  src: url('fonts/callista.ttf');
}
@font-face {
  font-family: Laura;
  src: url('fonts/laura.ttf');
}

#__next {
  overflow-x: hidden;

  @media screen and (min-width: 576px) {
    overflow: auto;
  }
}

nav, nav *, nav * * {
    font-family: Montserrat;
}

.relative {
  position: relative !important;
}

html,
body {
  padding: 0;
  margin: 0;
  background: #F9F8FF !important;
}

a {
  color: inherit;
  text-decoration: none;
}

*,*:after,*:before{
  box-sizing: border-box;
  //transform-style: preserve-3d;
}

.flex-col { flex-direction: column !important;}

main {position: relative;}

.container {max-width: none !important; width: 100%; }

break{
  flex-basis: 100%;
  width: 0px; 
  height: 0px; 
  overflow: hidden;
}

footer {
    position: absolute;
    width: 100%;
    display: flex;
    margin-left: calc(var(--bs-gutter-x) * -0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    bottom: 0;
    padding-bottom: calc(var(--bs-gutter-x) * 0.5);
	flex-direction: column;

    ul {
		list-style: none;
		padding: 0;
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		width: 100%;
		padding-left: 1rem;
		padding-right: 1rem;

        li {
			float: left;
			margin-left: 1rem;
			margin-right: 1rem;

			img {
				width: 32px;
				height: 32px;
			}
        }
    }

	.copyright {
		font-size: 1rem;
		font-family: LeagueSpartan;
	}

	.copyright-name {
		font-size: .8rem;
		font-family: LeagueSpartan;
	}
}
