/**
color pallets
  3A1078
  4E31AA
  2F58CD
  3795BD
*/

@font-face {
  font-family: Guaraldo;
  src: url('fonts/guaraldo.ttf');
}

@font-face {
  font-family: LeagueSpartan;
  src: url('fonts/league-spartan.otf');
}

#__next {
  overflow-x: hidden;

  @media screen and (min-width: 576px) {
    overflow: auto;
  }
}

nav, nav *, nav * * {
    font-family: Montserrat;
}

.relative {
  position: relative !important;
}

html,
body {
  padding: 0;
  margin: 0;
  background: #F9F8FF !important;
}

a {
  color: inherit;
  text-decoration: none;
}

*,*:after,*:before{
  box-sizing: border-box;
  //transform-style: preserve-3d;
}

.flex-col { flex-direction: column !important;}

main {position: relative;}

break{
  flex-basis: 100%;
  width: 0px; 
  height: 0px; 
  overflow: hidden;
}
